# Dependencias y builds
node_modules/
frontend/node_modules/
backend/node_modules/
dist/
frontend/dist/
backend/dist/

# Entornos
.env
backend/.env
frontend/.env

# Logs y coberturas
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Otros
.DS_Store
*.local
